/* These styling changes are for Order Confirmation screen. */

.orderAheadPhoneInput .PhoneInputInput {
  border: none;
  height: 50px !important;
  border-radius: 10px;
  outline: none !important;
}
.orderAheadPhoneInput .PhoneInputCountrySelectArrow {
  display: none;
}
.orderAheadPhoneInput .PhoneInputCountry {
  margin: 10px;
}
.orderAheadPhoneInput .PhoneInput--focus {
  border-color: rgba(109, 92, 255, 1) !important;
  border-width: 2px !important;
}

.orderAheadNameInput .MuiOutlinedInput-root {
  height: 50px;
  border-radius: 8px !important;
  background: white;
}

.orderAheadNameInput .PrivateNotchedOutline-root-18 {
  border-color: #e3e3e3 !important;
}

.orderAheadNameInput
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: rgba(109, 92, 255, 1) !important;
  /* border-width: 1px !important; */
}

.specialInstructions .MuiOutlinedInput-notchedOutline {
  border-color: #e3e3e3 !important;
}

.specialInstructions
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: rgba(109, 92, 255, 1) !important;
}
