.PhoneInputInput {
  border: none;
  height: 50px;
  border-radius: 10px;
  outline: none !important;
}
.PhoneInputCountrySelectArrow {
  display: none;
}
.PhoneInputCountry {
  margin: 10px;
}
.MuiOutlinedInput-root {
  height: 50px;
  border-radius: 8px !important;
  background: white;
}
.MuiOutlinedInput-notchedOutline {
  border: none !important;
  border-radius: 8px !important;
  border: 1px solid #e3e3e3 !important;
}
