@font-face {
    font-family: 'GT-Walsheim';
    font-weight: normal;
    font-style: normal;
    src: url('./GT-Walsheim-Regular.ttf');
}
@font-face {
    font-family: 'GT-Walsheim';
    font-weight: bold;
    font-style: normal;
    src: url('./GT-Walsheim-Bold.ttf');
}