.endJustifiedFlex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// these three classes are only for styling boxes not grids. Some custom css can't be avoided altogether

.centreJustifiedFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.startJustifiedFlex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

body,
html {
  background-color: #f7f8fb;
}
.App {
}
.pointer {
  cursor: pointer;
}
