.endJustifiedFlex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.startJustifiedFlex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

body,
html {
  background-color: #f7f8fb;
}
.App {
}
.MuiInput-underline{
  border: none !important;
}

.MuiInputBase-root .InputBase-adornedStart .MuiInputBase-adornedEnd{
  height: 100% !important;
}